# backend
__pycache__/
*.pyc
*.pyo
*.pyd
instance/
*.db
.env
*.log
*.pid
dump.rdb

# Celery
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid

# frontend
frontend/node_modules/
frontend/dist/
frontend/.vscode/
frontend/.env
frontend/.DS_Store

# Other
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db
